venv/
__pycache__/
*.pyc
requirements/*.txt
*.env
media/
staticfiles/
ostad-shopify-app-assignment-1/theme/static_src/node_modules
ostad-shopify-app-assignment-1/static/packages/node_modules
ostad-shopify-app-assignment-1/static/packages/build
