<div style="position: fixed; bottom: 0; right: 0" id="google_translate_element"></div>
 
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {
                  pageLanguage: 'en',
                  {% comment %} includedLanguages: 'ar,bn,ja,fr,de' {% endcomment %}
                },
                'google_translate_element'
            );
        }
    </script>
 
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" async></script>

{% schema %}
{
  "name": "App Embed",
  "target": "body",
  "settings": []
}
{% endschema %}